<div class="container">
  <div class="admin-feature">
    <% if current_user && current_user.is_admin? %>
      <p><%= link_to "Add New Film", new_admin_film_path %></p>
    <% end %>
  </div>
  <%= render @films %>
</div>